@import url(//fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Actor);

/*--------------------------------------------------------------------------
  Formatting for F# code snippets
/*--------------------------------------------------------------------------*/

/* identifier */
span.i { color:#d1d1d1; }
/* string */
span.s { color:#d4b43c; }
/* keywords */
span.k { color:#4e98dc; }
/* comment */
span.c { color:#96C71D; }
/* operators */
span.o { color:#af75c1; }
/* numbers */
span.n { color:#96C71D; }
/* line number */
span.l { color:#80b0b0; }

/* inactive code */
span.inactive { color:#808080; }
/* preprocessor */
span.prep { color:#af75c1; }
/* fsi output */
span.fsi { color:#808080; }

/* omitted */
span.omitted {
  background:#3c4e52;
  border-radius:5px;
  color:#808080;
  padding:0px 0px 1px 0px;
}
/* tool tip */
div.tip {
  background:#475b5f;
  border-radius:4px;
  font:11pt 'Droid Sans', arial, sans-serif;
  padding:6px 8px 6px 8px;
  display:none;
  color:#d1d1d1;
}
table.pre pre {
  padding:0px;
  margin:0px;
  border:none;
}
table.pre, pre.fssnip, pre {
  line-height:13pt;
  border:1px solid #d8d8d8;
  border-collapse:separate;
  white-space:pre;
  font: 9pt 'Droid Sans Mono',consolas,monospace;
  width:90%;
  margin:10px 20px 20px 20px;
  background-color:#212d30;
  padding:10px;
  border-radius:5px;
  color:#d1d1d1;
}
table.pre pre {
  padding:0px;
  margin:0px;
  border-radius:0px;
  width: 100%;
}
table.pre td {
  padding:0px;
  white-space:normal;
  margin:0px;
}
table.pre td.lines {
  width:30px;
}

/* Hide snippets on the home page snippet & nicely format table */
#hp-snippet td.lines {
  display: none;
}
#hp-snippet .table {
  width:80%;
  margin-left:30px;
}
