@using System.Linq
@{
    Layout = "default";
    Url = Model.Posts.Single(p => p.Title == Title).Url;
}

<div class="post">
  <h1 class="post-title">@Title</h1>
  @RenderBody()
  
  <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = "http://theimowski.com/blog/@Url/index.html";
            this.page.identifier = "@Url";
        };
        (function() {  // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            
            s.src = '//theimowski.disqus.com/embed.js';
            
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>